.pal{
    background-color: rgba(239, 235, 235, 0.954);
}
.car:hover{
    font-size: larger;
}

.res{
    color: greenyellow;
}
.wrd{
    margin-left: 5rem;
    font-weight: bold;
}
.elcrd{
    margin-left: 6rem !important;
}
.remove{
    display: none;
}


