.jumb{
    max-width:50% !important;
    margin-left:14em !important;
}

.labe{
    font-size:1.4rem !important;
}
.small{
    max-width:100% !important;
    font-size:4.4rem !important;
}
.signin{
    margin-left:14.3em !important;
}
