.bar:hover{
    background-color: rgb(127, 133, 118) !important;
    color: white !important;
    border-radius: 10px !important;
}

.acti{
    background-color: rgb(231, 20, 20) !important;
    color: white !important;
    border-radius: 10px !important;
}
