* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input:focus {
	box-shadow: none !important;
	outline: none !important;
}

.divgrop #link {
	text-decoration: none;
	color: black;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: medium;
}

.admin {
	font-weight: 600;
	margin-left: -0.36rem;
	padding-top: 2rem;
}
ul {
	list-style: none;
}

li {
	list-style: none;
}

.lin {
	padding-bottom: 1em !important;
	padding-top: 0.76em;
	display: inline-block;
	margin-left: 0.4em;
	padding-left: 1em;
	color: rgb(41, 37, 37);
}
.set {
	position: relative;
	left: 20px;
	top: 560px;
	margin: 5px;
}

#link {
	text-decoration: none;
	color: rgb(26, 18, 18);
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: medium;
}

#link:hover {
	color: rgba(189, 58, 58, 0.852);
	border-radius: 10px;
}
#wrapper {
	overflow: hidden;
}
.divgrop {
	margin-left: 0.34em;
	padding-bottom: 1rem;
	padding-left: 2em;
}

.sidenav {
	height: 100vh;
	margin-left: -15rem;
	background-color: rgb(255, 255, 255);
	transition: margin 1s ease-out;
}
.sidenav .sidebar-heading {
	font-size: 0.8rem;
}
.sidenav .list-group {
	width: 15rem;
}
#page-content-wrapper {
	min-width: 100vw;
	height: 5vh !important;
	margin-left: 10em;
}
#wrapper.toggled .sidenav {
	margin-left: 0;
}

/* .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1.8em;
    font-size: 1em;
    margin-left: 4em;
    padding-top: 2em;
  } */

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 1.2em;
	}
	.sidenav a {
		font-size: 1.7em;
	}
}
@media (min-width: 760px) {
	.sidenav {
		margin-left: 0;
	}
	.dash {
		font-weight: "800";
		margin-left: 3em;
	}
	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}
	#wrapper.toggled {
		margin-left: -15rem;
	}
}
@media (min-width: 760px) {
	.sidenav {
		margin-left: 0;
	}
	.dash {
		font-weight: "light";
		margin-left: 3em;
	}
	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}
	#wrapper.toggled {
		margin-left: -15rem;
	}
}




 section{
     width: 80%;
     margin:10px auto;
 }

 .card-cont{

     display: flex;
     margin: 20px;
     justify-content:center;
     align-content: center;
     flex-wrap: wrap;
 }
 .spen{
     margin-top: 2rem;
 }
 .cardi{
     margin: 10px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;

     text-align: center;
     border-radius: 7px;
     width: 220px;
     height: 140px;

    color: white;
 }

 .span{
    border-top:1px solid white;
    padding: 2px;
    padding-bottom: 3px;
    font-size: 1rem;
    text-align: center;
    display: block;
 }

@media (min-width: 920px) {
	.sidenav {
		margin-left: 0;
	}
	.dash {
		font-weight: "light";
		margin-left: 10em;
	}
	#page-content-wrapper {
		min-width: 0;
	}
	#wrapper.toggled {
		margin-left: -16rem;
	}
	#wrapper .nerv {
		margin-left: 1em;
	}

}
	@media (min-width: 920px) {
		.sidenav {
			margin-left: 0;
		}
		.dash {
			font-weight: "light";
			margin-left: 10em;
		}
		#page-content-wrapper {
			min-width: 0;
		}
		#wrapper.toggled {
			margin-left: -16rem;
		}
		#wrapper .nerv {
			margin-left: 1em;
		}

	}

	.fom{
	max-width:70%;
	border: 0;
	margin-left: -0.1em;
	margin-top: 1em;
}


   @media screen and (width: 320px) {
	.fom{
		max-width: 165%;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;
	}
	.face{
		margin-left: -0.5em !important;
		max-width: 90% !important;
	}
	.gool{
		margin-left: -0.24em !important;
		max-width: 90% !important;
	}

   }

@media screen and (width: 375px) {
 .fom{
	 max-width: 155%;
	 margin-left: -1em;

 }
 .reme{
	 margin-left: -0.14em !important;
 }

 .btnGoogle{
	max-width: 98% !important;
	margin-left: -1.3em !important;
}
.btnFacebook{
	max-width: 98% !important;
	margin-left: -1.3em !important;
}
}
@media screen and (width: 390px) {
	.fom{
		max-width: 165%;
		margin-left: -1em;

	}
	.reme{
		margin-left: -0.14em !important;
	}

	.btnGoogle{
	   max-width: 98% !important;
	   margin-left: -1.3em !important;
   }
   .btnFacebook{
	   max-width: 98% !important;
	   margin-left: -1.3em !important;
   }
   }


@media screen and (width: 360px) {
	.fom{
		max-width: 160% !important;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;

	}
	.face{
		margin-left: -0.6em !important;
		max-width: 95% !important;
	}
	.gool{
		margin-left: -0.3em !important;
		max-width: 95% !important;
	}
   }

   @media screen and (width: 428px) {
	.fom{
		max-width: 165%;
		margin-left: -1em;

	}
	.reme{
		margin-left: -0.14em !important;
	}

	.btnGoogle{
	   max-width: 98% !important;
	   margin-left: -1.3em !important;
   }
   .btnFacebook{
	   max-width: 98% !important;
	   margin-left: -1.3em !important;
   }
   }

@media screen and (width: 280px) {
	.fom{
		max-width: 100%;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;
	}
	.face{
		margin-left: -0.3em !important;
		max-width: 93% !important;
	}
	.gool{
		margin-left: 0.7em;
		max-width: 93% !important;
	}
   }
   @media screen and (width: 384px) {
	.fom{
		max-width: 100%;
		margin-left: -0.1em;
	}
	.reme{
		margin-left: -0.14em !important;
	}
	.face{

		max-width: 93% !important;
	}
	.gool{
		max-width: 93% !important;
	}
	.btnGoogle{

		margin-left: -1.2em !important;
	}
	.btnFacebook{
		margin-left: -1.2em !important;

	}
	.pdpname{
		font-size:1rem;
		margin-left: 2.6em !important;

	}
   }

@media screen and (width: 540px) {
	.fom{
		max-width: 100%;
		margin-left: -0.2em;
	}
	.reme{
		margin-left: -0.10em !important;

	}
	.btnGoogle{
		min-width: 97% !important;
		margin-left: -0.1em !important;
	}
	.btnFacebook{
		min-width: 97% !important;
		margin-left: -1.2em;
	}
	.pdpname{
		font-size:1rem;
		margin-left: 5em !important;

	}
   }


@media screen and (width: 414px) {
	.fom{
		max-width: 160% !important ;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;

	}
	.btnGoogle{
		max-width: 95% !important;
		margin-left: -1.2em !important;
	}
	.btnFacebook{
		max-width: 95% !important;
		margin-left: -1.2em !important;
	}
	.pdpname{
		margin-left:3em !important;
		font-size:1rem;
		margin-top: 2px;

	}
   }
   @media screen and (width: 412px) {
	.fom{
		max-width: 100% ;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;

	}
	.face{
		margin-left: -0.4em !important;

	}
	.gool{
		margin-left: -0.2em !important;
	}
	.btnGoogle{
		max-width: 95% !important;
	}
	.btnFacebook{
		max-width: 93% !important;
	}

	.pdpname{
		margin-left:3em !important;
		font-size:1rem;
		margin-top: 2px;

	}
   }
   @media screen and (width: 480px) {
	.fom{
		max-width: 100%;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;

	}
	.face{
		margin-left: -0.2em !important;
	}
	.gool{
		margin-left: -0.01em !important;
	}
	.btnGoogle{
		max-width: 93% !important;
	}
	.btnFacebook{
		max-width: 93% !important;
	}
	.pdpname{
		font-size:1rem;
		margin-left: 5em !important;

	}
   }
   @media screen and (width: 411px) {
	.fom{
		max-width: 100% ;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;
	}
	.face{
		margin-left: -0.4em !important;
		min-width: 90% !important;
	}
	.gool{
		margin-left: 0.7em;
		min-width: 90% !important;
	}

   }
   @media screen and (width: 360px) {
	.fom{
		max-width: 100% ;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;

	}

	.face{
		margin-left: -2em;
		max-width: 93% !important;
	}
	.gool{
		margin-left: 0.7em;
		max-width: 93% !important;
	}
   }

   @media screen and (min-width: 617px) {
	.fom{
		max-width: 70%;
		border: 0;
		margin-left: -1em;
	}
	.btnGoogle{
		width: 95%;
	}
	.btnFacebook{
		width: 95%;
	}
	.reme{
		margin-left: -0.14em !important;

	}
	.passwrd{
		margin-left: 4em;
	}
	.sign{
		margin-left: 19em ;
	}
	.btns{
		width: 70%;
	}

   }
   @media screen and (min-width: 600px) {
	.fom{
		max-width: 100%;
		border: 0;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;

	}
	.passwrd{
		margin-left: 4em;
	}
	.sign{
		margin-left: 19em ;
	}
	.face{
		margin-left: -0.4em !important;
		max-width: 85% !important;
	}
	.gool{
		margin-left: -0.3em !important;
		max-width: 85% !important;
	}
	.pdpname{
		margin-left:5em !important;
		font-size:1rem;
		margin-top: 2px;

	}

   }
   @media screen and (width: 640px) {
	.fom{
		min-width: 100% ;
		border: 0;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;

	}
	.face{
		margin-left: -0.4em !important;

	}
	.gool{
		margin-left: 0.7em;

	}
	.btnGoogle{
		min-width: 100% !important;

	}
	.btnFacebook{
		min-width: 100% !important;

	}

	.pdpname{
		margin-left:5em !important;
		font-size:1rem;
		margin-top: 2px;

	}

   }

   @media screen and (min-width: 768px) {
	.fom{

		max-width: 70%;
		border: 0;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;

	}
	.passwrd{
		margin-left: 4em;
	}
	.sign{
		margin-left: 19em ;
	}
	.btnGoogle{
		min-width: 100% !important;
		margin-left: -2em !important;
	}
	.btnFacebook{
		min-width: 100% !important;
		margin-left: 1em;
	}

   }
   @media screen and (width: 800px) {
	.fom{

		max-width: 80%;
		border: 0;
		margin-left: -1em;
	}
	.reme{
		margin-left: -0.14em !important;

	}
	.passwrd{
		margin-left: 9em;

	}
	.sign{
		margin-left: 24em ;
	}
	.face{
		margin-left: -1em !important;
		min-width: 120% !important;
	}
	.gool{
		margin-left: -1em !important;
		min-width: 120% !important;
	}

   }

   @media screen and (min-width: 992px) {

	.passwrd{
		margin-left: 15em;
	}
	.sign{
		margin-left: 30em ;
	}

   }


.passwrd{
	font-weight: bold;
}
.pass{
	margin-left: 5em;
}


@media screen and (max-width: 1366px) {
	.fom{
		min-width:70%;
		border: 1px solid rgb(204, 198, 198);
		border-radius: 6px;

	}
	.passwrd{
		margin-right: 19em !important;
	}
	.face{
		margin-left: 1em;
		max-width: 100% !important;
	}
	.gool{
		margin-left: 0.9em;
		max-width: 100% !important;
	}

   }
   @media screen and (width: 1440px) {
	.fom{
		min-width:70% !important;
		border: 1px solid rgb(204, 198, 198);
		border-radius: 6px;

	}
	.pass{
		margin-right: 3em;
	}

	.sign{
		margin-left: 46em !important;
	}
	.btnGoogle{
		min-width: 100% !important;
		margin-left: -1em !important;
	}
	.btnFacebook{
		min-width: 100% !important;
		margin-left: 1em !important;
	}

   }
   @media screen and (width: 1280px) {
	.fom{
		min-width:70% !important;
		border: 1px solid rgb(204, 198, 198);
		border-radius: 6px;

	}
	.pass{
		margin-left: 12em;
	}

	.sign{
		margin-left: 38em !important;
	}
	.btnGoogle{
		min-width: 100% !important;
		margin-left: -1em !important;
	}
	.btnFacebook{
		min-width: 100% !important;
		margin-left: 1em !important;
	}

   }
   @media screen and (min-width: 1200px) {
	.passwrd{
		margin-right: 20em !important;

	}
	.sign{
		margin-left: 38em;
	}

   }

.pdpname{
	margin-left:2em;
	font-size:1rem;

}

.btnFacebook{
	width: 100% !important;
	height:35px;
	border-radius: 7px;
	background: #3b5998;
	color:white;
	border:0px transparent;
	text-align: center !important;
	display: inline-block;
}
.btnGoogle{
	width: 100% !important;
	height:35px;
	border-radius: 9px !important;
	background: #db3236 !important;
	color:white !important;
	border:0px transparent;
	text-align: center;
	font-weight: bolder !important;

}
.pass{
	text-decoration: none;
}
